<h2>
	Lates posts:
</h2>
<p>
	<% @results.each do |post| %>
		<%= post['content'] %><br/>
		<%= post['created_date'] %><br/> 
		<a href="/post/<%= post['id'] %>">Comments</a><br/> <hr/>
		
	<% end %>
</p>