<h2>
	Add new post
</h2>

<p>
	<form action="/new" method="POST">
		<input class="form-control" name="author" type="text" placeholder="Введите имя автора" style="width:80%" >
		<br/>
		<textarea name='text' class="form-control" rows="8" placeholder="Введите текст..." style="width:80%"></textarea>
		<br />
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>